{{- if .headless }}
.config/alacritty/
.config/ferris/
.config/foot/
.config/mpv/
.config/zathura/
.local/share/wallpapers/
{{- end }}
{{- if (and (eq .chezmoi.os "linux") (not .swaywm)) }}
.config/sway/
.config/waybar/
{{- end }}
