@import "catppuccin.css";

* {
    border-radius: 0px;
    border: none;
    font-size: 14px;
    min-height: 0;
    font-family: Material, Roboto, Helvetica, Arial, sans-serif;
    transition: none;
    text-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: @mantle;
    color: @text;
}

#workspaces button {
    background: @mantle;
    color: @surface2;
    padding: 0 5px;
}

#workspaces button:hover {
    background: @surface2;
    color: @mantle;
}

#workspaces button.focused {
    color: @mantle;
    background: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#mode {
    background: @surface2;
    color: @blue;
    padding: 0 6px;
}

#tray {
    margin: 0 5px;
}
