{{ if (not .headless) -}}
{{ $dirs := list
    "${HOME}/.cache"
    "${HOME}/.config"
    "${HOME}/.local"
    "${HOME}/.ssh"
    "${HOME}/Documents"
    "${HOME}/Downloads"
    "${HOME}/Games"
    "${HOME}/Music"
    "${HOME}/Pictures"
    "${HOME}/Templates"
    "${HOME}/Videos"
    "${HOME}/Workspace/home"
    "${HOME}/Workspace/repos" -}}

#!/usr/bin/env bash

set -euo pipefail

mkdir -p "${HOME}/Public"
chmod 755 "${HOME}/Public"

mkdir -p {{ $dirs | join " " }}
chmod 700 {{ $dirs | join " " }}
{{ end -}}

