{{ if (and (eq .chezmoi.os "linux") (not .headless) (ne .chezmoi.username "root")) -}}

#!/usr/bin/env bash

set -eu

if type flatpak &>/dev/null; then
    # Add flathub repo
    flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

    # Install packages
    declare -a flatpak_packages=(
            "com.github.micahflee.torbrowser-launcher"
            "com.github.tchx84.Flatseal"
            "com.google.Chrome"
            "com.spotify.Client"
            "com.usebottles.bottles"
            "com.valvesoftware.Steam"
            "fm.reaper.Reaper"
            "io.dbeaver.DBeaverCommunity"
            "md.obsidian.Obsidian"
            "org.flameshot.Flameshot"
            "org.freecadweb.FreeCAD"
            "org.mozilla.firefox"
            "org.videolan.VLC"
        )

    # Install packages
    for flatpak_package in "${flatpak_packages[@]}"; do
        flatpak install --user -y "${flatpak_package}"
    done

    # Global settings
    flatpak override --user --filesystem="/home/${USER}/.themes:ro"
    flatpak override --user --env=GTK_THEME="Catppuccin-Mocha-Standard-Blue-Dark"

    # Firefox settings
    xdg-mime default org.mozilla.firefox.desktop x-scheme-handler/https x-scheme-handler/http
    xdg-settings set default-web-browser org.mozilla.firefox.desktop
    flatpak override --user org.mozilla.firefox --filesystem="/home/${USER}/Downloads"
    flatpak override --user --env=MOZ_ENABLE_WAYLAND=1 org.mozilla.firefox
    flatpak override --user --env=MOZ_DBUS_REMOTE=1 org.mozilla.firefox

    # Chrome settings
    flatpak override --user com.google.Chrome --filesystem="/home/${USER}/.local/share/icons"
    flatpak override --user com.google.Chrome --filesystem="/home/${USER}/.local/share/applications"
    flatpak override --user com.google.Chrome --filesystem="/home/${USER}/Downloads"

    # Obsidian settings
    flatpak override --user --env=OBSIDIAN_USE_WAYLAND=1 md.obsidian.Obsidian
    flatpak override --user --socket=wayland md.obsidian.Obsidian

    # Steam settings
    flatpak override --user com.valvesoftware.Steam --filesystem="/home/${USER}/.local/share/icons"
    flatpak override --user com.valvesoftware.Steam --filesystem="/home/${USER}/.local/share/applications"
    flatpak override --user com.valvesoftware.Steam --filesystem="/home/${USER}/Pictures/Steam"

    # Flatseal settings
    flatpak override --user --socket=wayland com.github.tchx84.Flatseal

    # Bottles settings
    flatpak override --user --socket=wayland com.usebottles.bottles

    # DBeaver settings
    flatpak override --user --socket=wayland io.dbeaver.DBeaverCommunity

    # Flameshot settings
    flatpak override --user --socket=wayland org.flameshot.Flameshot
fi
{{ end -}}

