[Desktop Entry]
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined.
Exec=code --ozone-platform-hint=auto --open-url %U
GenericName=Text Editor
Icon=code
Keywords=vscode
MimeType=x-scheme-handler/vscode
Name=Visual Studio Code - URL Handler
NoDisplay=true
StartupNotify=true
Type=Application
Version=1.4
