[Desktop Entry]
Name=Insomnia
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/insomnia --file-forwarding rest.insomnia.Insomnia --enable-features=UseOzonePlatform --ozone-platform=wayland --no-sandbox @@u %U @@
Terminal=false
Type=Application
Icon=rest.insomnia.Insomnia
StartupWMClass=Insomnia
X-AppImage-Version=2022.4.2
Comment=The Collaborative API Design Tool
MimeType=x-scheme-handler/insomnia;
Categories=Development;
X-Flatpak-RenamedFrom=insomnia.desktop;
X-Flatpak=rest.insomnia.Insomnia
